<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AccessPath needs your location to show accessible routes nearby.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>AccessPath needs your location to show accessible routes nearby and provide directions.</string>
</dict>
</plist>
